<!-- <app-navbar></app-navbar> -->
<div class="container-fuild">
  <h1 class="title-text text-center">EVENT</h1>
  <div class="row text-center">
    <div class="btn-container mb-3">
        <button class="btn float-end" onclick="window.location.href='/add-event'"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Store</th>
                <th>Description</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th style="width: 100px;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of events">
                <td>{{event.title}}</td>
                <td><img *ngIf="event.image && imageUrls[event.image]" [src]="imageUrls[event.image]" alt="{{event.image}}" style="max-width: 200px;"></td>
                <td>{{getStoreName(event.storeId)}}</td>
                <td>{{event.description}}</td>
                <td>{{event.location}}</td>
                <td>{{event.startDate}}</td>
                <td>{{event.endDate}}</td>
                <td>{{event.startTime}}</td>
                <td>{{event.endTime}}</td>
                <td>
                    <a href="/view-event?eventId={{event.eventId}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="/edit-event?eventId={{event.eventId}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <i class="fa fa-trash" aria-hidden="true" (click)="deleteEvent(event.eventId)"></i>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
