.container-fuild{
    min-height: 100vh;
    padding: 20px 50px 50px 50px;
    background-color: rgb(248, 244, 244);
}

.card{
    border: none;
    margin-bottom: 30px;
}

.card-body{
    color:  #C82C8C;
        padding: 20px;

}

h3{
    color: #9E9292;
}

h2, h3{
    margin: 0;
}

.table-h3{
    color: black;
    font-weight: bold;
    padding : 15px;
}