<div class="container-fuild">
  <h1 class="title-text text-center">ROUTE STATISTICS</h1>
  <h3>Statistics</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="pieCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="barCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="lineCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="lineCanvas2"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Table</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="table-h3">Route</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Start Route</th>
                <th>End Route</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let route of routes">
                <td>{{route.startRoute}}</td>
                <td>{{route.endRoute}}</td>
                <td>{{route.count}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
