<app-navbar></app-navbar>
<div class="container-fuild">
  <h1 class="title-text text-center">ROUTE STATISTICS</h1>
  <h3>Statistics</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="pieCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="barCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Table</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="table-h3">Route</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Start</th>
                <th>End</th>
                <th>Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john.com</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary.com</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
