<app-navbar></app-navbar>
<div class="container-fuild">
  <h1 class="title-text text-center">STORE</h1>
  <div class="row text-center">
    <div class="btn-container mb-3">
        <button class="btn float-end" onclick="window.location.href='/add-store'"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Category</th>
                <th>Floor</th>
                <th>Location</th>
                <th>Contact Number</th>
                <th>Description</th>
                <th>Opening Hours</th>
                <th>Closing Hours</th>
                <th style="width: 100px;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let store of stores">
                <td>{{store.name}}</td>
                <td>{{store.image}}</td>
                <td>{{getCategoryName(store.categoryId)}}</td>
                <td>{{getFloorName(store.floorId)}}</td>
                <td>{{store.location}}</td>
                <td>{{store.contactNumber}}</td>
                <td>{{store.description}}</td>
                <td>{{store.openingTime}}</td>
                <td>{{store.closingTime}}</td>
                <td>
                    <a href="/view-store?storeId={{store.storeId}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="/edit-store?storeId={{store.storeId}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteStore(store.storeId)"></i>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
