<div class="container-fuild">
  <h1 class="title-text text-center">STORE STATISTICS</h1>
  <h3>Performance</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{getActiveStore()}}</h2>
          <p class="card-text">active stores</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{getPendingStore()}}</h2>
          <p class="card-text">pending stores</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{getEmptyStore()}}</h2>
          <p class="card-text">empty stores</p>
        </div>
      </div>
    </div>

  </div>
  <h3>Statistics</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="pieCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="barCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Table</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="table-h3">Store</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Category</th>
                <th>Location</th>
                <th>FootPrint(%)</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let store of stores">
                <td>{{store.name}}</td>
                <td><img *ngIf="store.image && imageUrls[store.image]" [src]="imageUrls[store.image]" alt="{{store.image}}" style="max-width: 200px;"></td>
                <td>{{getCategoryName(store.categoryId)}}</td>
                <td>{{getLocationName(store.locationId)}}</td>
                <td>{{getFootPrint(store.name)}}</td>
                <td>
                  <a href="/store-detail-statistics?storeId={{store.storeId}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
