<!-- <app-navbar></app-navbar> -->
<div class="container-fuild">
  <h1 class="title-text text-center">PROMOTION</h1>
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card">
        <div class="card-body">
            <h2 class="pb-4">Edit Promotion Form</h2>
            <form [formGroup]="editPromoForm">
              <div class="form-group">
                  <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" formControlName="title">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Image</label>
                    <input class="form-control" type="file" formControlName="image" accept="image/*">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Store</label>
                    <select class="form-select" formControlName="storeId">
                        <option value="" disabled selected>Select Store</option>
                        <option *ngFor="let store of stores" value="{{store.storeId}}">{{store.name}}</option>
                      </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Location <small class="small-text">Ex: LG12, LG13</small></label>
                    <input class="form-control" type="text" formControlName="location">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" formControlName="description"></textarea>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Start Date</label>
                    <input type="date" class="form-control" formControlName="startDate">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">End Date</label>
                    <input type="date" class="form-control" formControlName="endDate">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Start Time</label>
                    <input type="time" class="form-control" formControlName="startTime">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">End Time</label>
                    <input type="time" class="form-control" formControlName="endTime">
                  </div>
                  <input type="hidden" formControlName="promotionId" [value]="promoDetails.promotionId">
                  <button  (click)="onSubmit(promoDetails.promotionId)" type="submit" class="btn btn-submit mt-4 w-100">Submit</button>

              </div>
            </form>
        </div>
      </div>
    </div>
</div>
