<!-- <app-navbar></app-navbar> -->
<div class="container-fuild">
  <h1 class="title-text text-center">USER STATISTICS</h1>
  <h3>Performance</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{getNumberOfUsers()}}</h2>
          <p class="card-text">users</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{dailyActiveUsers}}</h2>
          <p class="card-text">daily active users</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{ weeklyActiveUsers }}</h2>
          <p class="card-text">weekly active users</p>
        </div>
      </div>
    </div>
  </div>
  <h3>Statistics</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="doughnutCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="lineCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Table</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <!-- <span class="right-span"><a>View More</a></span> -->
          <h3 class="table-h3">User</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>UserID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Contact Number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.userId}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.email}}</td>
                <td>{{user.contactNumber}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
