<div class="container-fluid">
  <h1 class="title-text text-center">Event</h1>
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card">
        <div class="card-body">
            <h2 class="pb-4">Add Event Form</h2>
            <form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" formControlName="title" minlength="7" maxlength="50" required>
                    <div *ngIf="addEventForm.get('title')?.invalid && (addEventForm.get('title')?.dirty || addEventForm.get('title')?.touched)" class="text-danger">
                      Name must be between 7 and 50 characters.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Image</label>
                    <input class="form-control" type="file" formControlName="image" accept="image/*" (change)="onFileSelected($event)">
                    <div *ngIf="addEventForm.get('image')?.errors?.['required']" class="text-danger">
                      Image is required.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Store</label>
                    <select class="form-select" formControlName="storeId" required>
                        <option value="" disabled selected>Select Store</option>
                        <option *ngFor="let store of stores" [value]="store.storeId">{{store.name}}</option>
                    </select>
                    <div *ngIf="addEventForm.get('storeId')?.invalid && (addEventForm.get('storeId')?.dirty || addEventForm.get('storeId')?.touched)" class="text-danger">
                      Please select a store.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Location</label>
                    <select class="form-select" formControlName="locationId" required>
                      <option value="" disabled selected>Select Location</option>
                      <option *ngFor="let location of locations" [value]="location.locationId">{{location.locationName}}</option>
                    </select>
                    <div *ngIf="addEventForm.get('locationId')?.invalid && (addEventForm.get('locationId')?.dirty || addEventForm.get('locationId')?.touched)" class="text-danger">
                      Please select a location.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" formControlName="description" minlength="51" maxlength="250" required></textarea>
                    <div *ngIf="addEventForm.get('description')?.invalid && (addEventForm.get('description')?.dirty || addEventForm.get('description')?.touched)" class="text-danger">
                      Description must be between 51 and 250 characters.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Start Date</label>
                    <input type="date" class="form-control" formControlName="startDate" required>
                    <div *ngIf="addEventForm.get('startDate')?.invalid && (addEventForm.get('startDate')?.dirty || addEventForm.get('startDate')?.touched)" class="text-danger">
                      Start Date is required.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">End Date</label>
                    <input type="date" class="form-control" formControlName="endDate" required>
                    <div *ngIf="addEventForm.hasError('invalidDateRange')" class="text-danger">
                      End Date must be later than Start Date.
                    </div>
                    <div *ngIf="addEventForm.get('endDate')?.invalid && (addEventForm.get('endDate')?.dirty || addEventForm.get('endDate')?.touched)" class="text-danger">
                      End Date is required.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Start Time</label>
                    <input type="time" class="form-control" formControlName="startTime" required>
                    <div *ngIf="addEventForm.get('startTime')?.invalid && (addEventForm.get('startTime')?.dirty || addEventForm.get('startTime')?.touched)" class="text-danger">
                      Start Time is required.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">End Time</label>
                    <input type="time" class="form-control" formControlName="endTime" required>
                    <div *ngIf="addEventForm.hasError('invalidTimeRange')" class="text-danger">
                      End Time must be later than Start Time.
                    </div>
                    <div *ngIf="addEventForm.get('endTime')?.invalid && (addEventForm.get('endTime')?.dirty || addEventForm.get('endTime')?.touched)" class="text-danger">
                      End Time is required.
                    </div>
                  </div>
                  <button type="submit" class="btn btn-submit mt-4 w-100" [disabled]="addEventForm.invalid">Submit</button>
              </div>
            </form>
        </div>
      </div>
    </div>
</div>
