<!-- <app-navbar></app-navbar> -->
<div class="container-fuild">
  <h1 class="title-text text-center">STORE STATISTICS</h1>
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="height: 400px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid rounded-start" *ngIf="imageUrl" [src]="imageUrl" alt="{{imageUrl}}" style="height: 400px;">
          </div>
          <div class="col-md-8">
            <div class="card-body body-pink">
              <h2 class="card-title">{{storeDetails.name}}</h2>
              <p class="card-text"><small class="text-body-secondary">{{getCategoryName(storeDetails.categoryId)}}</small></p>
              <p class="card-text"><i class="fa fa-map" aria-hidden="true"></i>{{getLocationName(storeDetails.locationId)}}</p>
              <p class="card-text"><i class="fa fa-phone-square" aria-hidden="true"></i>{{storeDetails.contactNumber}}</p>
              <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i>{{storeDetails.openingTime}} - {{storeDetails.closingTime}}</p>
              <hr>
              <p class="card-text">{{storeDetails.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Statistics</h3>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="pieCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="bar2Canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center">
            <canvas id="barBigCanvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
